*{
	font-family: Trebuchet MS;
}

body, ul, li{
	margin: 0;
	padding: 0;
}


p,li,h2,h3,h4{
	color:#4e4e4e;
}

body{
	background-color: #f7f7f7;
}

.wrapper{
	width:96%;
	max-width:1200px;
	margin: 0 auto;
	padding: 0 2%;
}

header{
	padding: 20px 0;
}

nav ul{
	display: inline-block;
    list-style-type: none;
}


nav{
	text-align:center;
}

nav ul img{
	margin-top:12px;
	margin-left:15px;
	width:25px;
}

header nav li{
	float: left;
	margin-top:15px;
	margin-left:30px;
}

header nav li a{
	text-decoration: none;
	font-family: 'Montserrat', sans-serif;
	color: black;
	text-transform: uppercase;
}


/*need to learn code below*/
header:after{
	display:block;
	content: "";
	clear:both;
}

#main-banner img{
	width: 50%;
	display:block;
	margin: 0 auto;
}

#main-banner{
	margin-top:150px;
	margin-bottom: 150px;
	overflow:hidden;
}